<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Fuzz - RESTler</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
      rel="stylesheet"
    />
    <link href="../css/styles.css" rel="stylesheet" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" href="../index.html">RESTler Dashboard</a>
      <!-- Sidebar Toggle-->
      <button
        class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
        id="sidebarToggle"
        href="#!"
      >
        <i class="fas fa-bars"></i>
      </button>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">Core</div>
              <a class="nav-link" href="../index.html">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-home"></i>
                </div>
                Home
              </a>
              <div class="sb-sidenav-menu-heading">Run</div>
              <a class="nav-link" href="../run/upload.html">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                Upload
              </a>
              <a class="nav-link" href="../run/configure.html">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                Configure
              </a>
              <a class="nav-link" href="../run/execute.html">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                Execute
              </a>
              <div class="sb-sidenav-menu-heading">View</div>
              <a class="nav-link" href="../view/dashboard.html">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-chart-line"></i>
                </div>
                Dashboard
              </a>
              <a class="nav-link" href="../view/compile.html">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Compile
              </a>
              <a class="nav-link" href="../view/test.html">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Test
              </a>
              <a class="nav-link" href="../view/fuzzlean.html">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Fuzz-lean
              </a>
              <a class="nav-link" href="../view/fuzz.html">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Fuzz
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Fuzz</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item">
                <a href="../index.html">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Fuzz</li>
            </ol>
            <div class="card mb-4">
              <div class="card-body">
                Bug hunting - explore a RESTler fuzzing grammar in smart
                breadth-first-search mode (deeper search mode) for finding more
                bugs.
                <br /><b>Warning:</b> This type of fuzzing is more aggressive
                and may create outages in the service under test if the service
                is poorly implemented (e.g., fuzzing might create resource
                leaks, perf degradation, backend corruptions, etc.).
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div id="fuzz" class="card bg-warning mb-4">
                  <div class="card-header process_heading">
                    <b>Fuzz Process</b>
                  </div>
                  <div id="fuzz_tab" class="card-body" style="height: 220px">
                    <div id="fuzz_img"></div>
                    <p id="fuzz_process">
                      <script>
                        fetch(
                          "http://localhost/file/process_data/fuzz_process.txt"
                        )
                          .then((response) => response.text())
                          .then((textString) => {
                            if (textString != "") {
                              // change colour to green if successful, red otherwise
                              if (textString.includes("succeeded")) {
                                document.getElementById(
                                  "fuzz_colour"
                                ).className = "card bg-success mb-4";
                              } else {
                                document.getElementById(
                                  "fuzz_colour"
                                ).className = "card bg-danger mb-4";
                              }

                              document.getElementById(
                                "fuzz_process"
                              ).innerText = textString;
                            } else {
                              throw new Error();
                            }
                          })
                          .catch(function (err) {
                            // Add error image
                            var img = document.createElement("IMG");
                            img.src = "../assets/img/process_error.png";
                            img.width = "110";
                            img.height = "100";
                            document
                              .getElementById("fuzz_img")
                              .appendChild(img);

                            // Add error text
                            document.getElementById("fuzz_process").innerText =
                              "The Fuzz Process has not been executed recently.";
                            // There was an error
                            console.warn("Something went wrong.", err);
                          });
                      </script>
                    </p>
                  </div>
                  <div
                    class="
                      card-footer
                      d-flex
                      align-items-center
                      justify-content-between
                    "
                  >
                    <a class="small text-black" href="./fuzz.html"
                      >View Details</a
                    >
                    <div class="small text-black">
                      <i class="fas fa-angle-right"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card-header process_heading">
                  <b>Run Summary</b>
                </div>
                <div
                  id="runsum_tab"
                  class="card-body"
                  style="height: 220px; overflow: scroll"
                >
                  <div id="runsum_img"></div>
                  <div>
                    <p id="runsum_p">
                      <script>
                        fetch(
                          "http://localhost/file/Fuzzlean-ResponseBuckets/runSummary.json"
                        )
                          .then((response) => response.text())
                          .then((textString) => {
                            if (textString != "") {
                              document.getElementById("runsum_p").innerText =
                                textString;
                            } else {
                              throw new Error();
                            }
                          })
                          .catch(function (err) {
                            // Add error image
                            var img = document.createElement("IMG");
                            img.src = "../assets/img/process_error.png";
                            img.width = "110";
                            img.height = "100";
                            document
                              .getElementById("runsum_img")
                              .appendChild(img);

                            // Add error text
                            document.getElementById("runsum_p").innerText =
                              "The Fuzz-lean Process has not been executed recently.";
                            // There was an error
                            console.warn("Something went wrong.", err);
                          });
                      </script>
                    </p>
                  </div>
                </div>
                <div
                  class="
                    card-footer
                    d-flex
                    align-items-center
                    justify-content-between
                  "
                >
                  <div class="small text-black">
                    <i class="fas fa-angle-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Error Buckets
              </div>
              <!-- <div class="card-body"><canvas id="myBarChart" width="200" height="50"></canvas></div> -->
              <div class="card-body card-height">
                <div class="col center">
                  <image
                    src="../assets/img/process_error.png"
                    width="110"
                    height="100"
                  >
                  </image>
                  <p>The Fuzz Process has not been executed.</p>
                </div>
                <!-- <p><iframe src="data/fuzz_process.txt" width=100% height=200 frameborder=0 ></iframe></p>  -->
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table me-1"></i>
                <b>Coverage Logs</b>
              </div>
              <!-- <div class="card-body">
                                <table id="datatablesSimple"></table>
                            </div> -->
              <div class="card-body card-height">
                <div class="col center">
                  <image
                    src="../assets/img/process_error.png"
                    width="110"
                    height="100"
                  >
                  </image>
                  <p>The Fuzz Process has not been executed.</p>
                </div>
                <!-- <p><iframe src="data/fuzz_process.txt" width=100% height=200 frameborder=0 ></iframe></p>  -->
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/scripts.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
      crossorigin="anonymous"
    ></script>
    <script src="../js/datatables.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/barchart.js"></script>
  </body>
</html>
